body {
  margin: 0px;
}
@font-face {
  font-family: "Avenir Light";
  src: url("./asserts/AvenirBlack/Avenir\ Light.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Bold";
  src: url("./asserts/arialbd.ttf") format("truetype");
}
@font-face {
  font-family: "Canela Regular";
  src: url("./asserts/Canela-Regular/Canela-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Canela Light";
  src: url("./asserts/canela-Light/canela\ Light.ttf") format("truetype");
}
.container {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  height: 100vh;
}

.container .right-side {
  width: 40%;
  background: transparent url("./asserts/rifht-side-content.png") 0% 0%
    no-repeat padding-box;
  background-size: 100% 100%;
}
.container .pre-left-container {
  width: 5%;
  background-color: #616b5d;
}
.container .pre-right-container {
  width: 5%;
  background-color: #616b5d;
  display: flex;
  align-items: flex-end;
}
.container .pre-left-container img {
  width: 130%;
  /* padding-top: 2rem; */
  position: relative;
  top: 2rem;
  right: 0.9rem;
}
.container .pre-right-container img {
  width: 120%;

  padding-bottom: 1rem;

  /* position: relative;
  bottom: 1rem;
  right: 0.4rem; */
  /* overflow: hidden; */
}
.container .left-side {
  background-color: #616b5d;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font: normal normal 300 70px/132px Canela;
  letter-spacing: 0px;
  color: #f4f2ed;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: center;
  font: normal normal 300 25px/47px Avenir Light;
  letter-spacing: 0px;
  color: #f8f7f4;
  opacity: 1;
  padding: 0% 9%;
  line-height: normal;
}
.notify {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 2rem;
  font-family: Canela Regular;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #616b5d;
  width: 12rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* line-height: 25px; */
  height: 20px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #9c9084;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 42px;
  font-size: 11px;
  font-family: Avenir Light;
  letter-spacing: 0px;
}

.form-inline button:hover {
  background-color: #616b5d;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}
input,
select,
textarea {
  color: #ffffff;
}

textarea:focus,
input:focus {
  color: #ffffff;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  /* padding: 0.5em 0.6em; */
  padding: 0.2em 0.3em;
  background-color: hsla(157, 10%, 60%, 1);
}
.icons {
  position: fixed;
  right: 30px;
  bottom: 50px;
}
.whatsapp-icon {
  padding-bottom: 1rem;
  /* height: 1%; */
  cursor: pointer;
}
.whatsapp-icon img {
  width: 130%;
  height: 130%;
  transition: transform 0.2s;
}
.whatsapp-icon img:hover {
  transform: scale(1.1);
}
.fa-whatsapp:hover {
  color: #616b5d;
}
.phone-icon {
  cursor: pointer;
}
.phone-icon img {
  width: 130%;
  height: 130%;
  transition: transform 0.2s;
}
.phone-icon img:hover {
  transform: scale(1.1);
}
.log img {
  width: 12%;
  height: 12%;
}

@media only screen and (max-width: 600px) {
  .form-inline {
    background-color: #616b5d;
  }
  body {
    margin: 0px;
    background-color: #616b5d;
  }
  .log img {
    /* width: 30%; */
    width: 20%;
    height: 10%;
  }
  .container {
    background: #616b5d;
  }
  .container .right-side {
    order: -1;
    width: 100%;
    background: url("./asserts/Rectangle\ 7484.png");
    background-size: 100% 100%;
    background-color: #616b5d;
    /* height: 350px; */
    height: 30vh;
    position: relative;
  }
  .container .left-side {
    width: 100%;
    /* height: 600px; */
    height: 70vh;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    align-items: center;
  }
  .container .pre-left-container {
    display: none !important;
  }
  .container .pre-right-container {
    display: none !important;
  }
  .container .left-side .left-side-container-content {
    /* padding-top: 1.4rem; */
  }
  .heading {
    /* font: normal normal 300 45px/132px Canela; */
    font: normal normal 300 45px/104px Canela;
  }
  .description {
    font: normal normal 300 17px/26px Avenir;
    padding: 0% 9%;
  }
  .form-inline input {
    width: 10rem;
  }
  .icons {
    /* display: none !important; */
    position: absolute;
    bottom: 29px;
    right: 11px;
  }
  .whatsapp-icon {
    padding-bottom: 0.1rem;

    cursor: pointer;
  }
  .whatsapp-icon img {
    width: 100%;
    height: 100%;
  }

  .phone-icon img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
  }
  .notify {
    font-size: 16px;
  }
}
@media (max-width: 880px) and (min-width: 600px) {
  body {
    margin: 0px;
  }
  .heading {
    font: normal normal 300 40px/132px Canela;
  }
  .description {
    font: normal normal 300 17px/26px Avenir;
    padding: 0% 9%;
  }
  .container .pre-left-container {
    display: none !important;
  }
  .container .pre-right-container {
    display: none !important;
  }
  .container .right-side {
    width: 50%;
  }
}
