body {
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  height: 100vh;
}
.container .right-side {
  width: 50%;
  background: transparent url("./asserts/rifht-side-content.png") 0% 0%
    no-repeat padding-box;
}

.container .left-side {
  background-color: #616b5d;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font: normal normal 300 70px/132px Canela;
  letter-spacing: 0px;
  color: #f4f2ed;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: center;
  font: normal normal 300 25px/47px Avenir;
  letter-spacing: 0px;
  color: #f8f7f4;
  opacity: 1;
  padding: 0% 9%;
}
.notify {
  text-align: center;
  font: normal normal medium 20px/35px Canela;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 2rem;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #616b5d;
  width: 12rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #ffffff;

  color: #9c9084;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.form-inline button:hover {
  background-color: #616b5d;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}
input,
select,
textarea {
  color: #ffffff;
}

textarea:focus,
input:focus {
  color: #ffffff;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0px;
  }
  .container .right-side {
    order: -1;
    width: 100%;
    background-image: url("./asserts/Mask\ Group\ 114@2x.png");
    background-color: #616b5d;
    height: 100%;
  }
  .container .left-side {
    width: 100%;
  }
  .container .left-side .left-side-container-content {
    padding-top: 3rem;
  }
  .heading {
    font: normal normal 300 45px/132px Canela;
  }
  .description {
    font: normal normal 300 17px/26px Avenir;
    padding: 0% 9%;
  }
  .form-inline input {
    width: 10rem;
  }
}
